# Ignore .DS_Store files anywhere in the repo
.DS_Store
**/.DS_Store
__pycache__
challenge_day1/__pycache__/christina2.cpython-314.pyc
challenge_day1/__pycache__/christina2.cpython-314.pyc
challenge_day1/__pycache__/file_amalia.cpython-314.pyc
challenge_day1/__pycache__/iris.cpython-314.pyc
challenge_day1/__pycache__/green.cpython-314.pyc
challenge_day1/__pycache__/fileh.cpython-314.pyc
